<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="lead">YelpCamp</div>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="img-responsive"><img src="<%= campground.image %>"></div>
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p><em>Submitted By <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
                    <!-- show buttons on if owned by currentUser -->
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div> <!-- thumbnail -->
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row comment-block">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <p class="pull-right"><%= moment(comment.createdAt).fromNow() %></p>
                            <p><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %> 
                                <a class="btn btn-xs btn-warning" 
                                   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                      method="POST" class="delete-form">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div> <!-- well -->
            <a class="btn btn-info" href="/campgrounds">Go Back</a>
        </div> <!-- col-md-9 -->
    </div> <!-- row -->
</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-VDRx3WZupLUFG7oXU_RZI5iUaTp1UnI&callback=initMap"></script>

<% include ../partials/footer %>