<% include ../partials/header %>

<div class="container content">
    <div class="row">
        <div class="col-md-3">
            <div class="h3 font-weight-normal">YelpCamp</div>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-img-top"><img src="<%= campground.image %>" alt="<%= campground.name %>"></div>
                <div class="card-body">
                    <p class="card-text font-weight-light float-right">$<%= campground.price %>/night</p>
                    <h1 class="h3 card-title"><a><%= campground.name %></a></h1>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="text-muted">
                        <em>Submitted By <a href="/user/<%= campground.author.id %>"><%= campground.author.username %></a>, 
                        <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <!-- show buttons on if owned by currentUser -->
                    <% if (currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">
                            Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    <% } %>
                </div>
            </div> <!-- card -->
            
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <div class="float-right">
                        <a class="btn btn-sm btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                            <span class="oi oi-pencil"></span> Leave a Comment <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h4>Comments <i class="fa fa-comments" aria-hidden="true"></i></h4>
                </div>
                
                <div class="collapse" id="collapseComment">
                    <div class="card bg-light border-success" id="write-comment">
                        <% if (!currentUser) { %>
                        <p class="text-center">You need to login before you can comment. <a href="/login">Click Here</a> to go to the login page.</p>
                        <% } %>
                        <% if (currentUser) { %>
                        <p class="lead">Write your comment <span class="oi oi-pencil"></span></p>
                        <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm">Comment <i class="fa fa-commenting" aria-hidden="true"></i></button>
                            </div>
                        </form>
                        <% } %> <!-- currentUser -->
                    </div>
                </div>
                
                <% if (campground.comments.length === 0) { %>
                <p class="text-center"><em style="color: grey;">No comments yet</em></p>
                <% } %>
                
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row comment-block">
                        <div class="col-md-12">
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                            <i style="color: orange;" class="fa fa-user" aria-hidden="true"></i>
                            <% } else { %>
                            <i class="fa fa-user" aria-hidden="true"></i></span>
                            <% } %>
                            <a href="/user/<%= comment.author.id %>"><strong><%= comment.author.username %></strong></a>
                            
                            <p class="float-right"><%= moment(comment.createdAt).fromNow() %></p>
                            <p><%= comment.text %></p>
                            
                            <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %> 
                                <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse"
                                   href="#collapseEdit<%= comment.id %>" aria-expanded="false" aria-controls="collapse<%= comment.id %>">
                                    Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                      method="POST" class="delete-form">
                                    <button class="btn btn-sm btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </form>
                                
                                <div class="collapse" id="collapseEdit<%= comment.id %>">
                                    <div class="card bg-light border-warning" id="edit-comment">
                                        <p class="lead">Edit your comment</p>
                                        
                                        <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment[text]" form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-sm">Edit comment <i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            <% } %> <!-- currentUser && ... -->
                        </div>
                    </div>
                <% }); %>
            </div> <!-- card -->
            <a class="btn btn-info" href="/campgrounds">Go Back</a>
        </div> <!-- col-md-9 -->
    </div> <!-- row -->
</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-VDRx3WZupLUFG7oXU_RZI5iUaTp1UnI&callback=initMap"></script>

<% include ../partials/footer %>